fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib[bcrypt]
langchain
langchain-google-genai
langchain-openai
openai
faiss-cpu
pdfplumber
python-docx
python-dotenv
langchain-huggingface
langchain-community
fastmcp
mcp
langgraph
rank_bm25
# flashrank (disabled for memory)
supabase