fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib[bcrypt]
langchain
langchain-google-genai
langchain-openai
qdrant-client
langchain-qdrant
pdfplumber
python-docx
python-dotenv
langchain-huggingface
langchain-community
fastmcp
langgraph
rank_bm25
flashrank